.add-input{
  width: 345px;
  height: 100px;
  margin: 10px;
  border-radius: 25px;
  border-color: #93A2ED;
  font-size: 16px;
}

.create-title{
  font-size: 22px;
  margin: 5px;
  text-align: left;
  color: #93A2ED;

}

.btn-container{
  display: flex;
  justify-content: space-evenly;
}

.create-title-container{
  display: flex;
}