#root > div > div:nth-child(2) > div {
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
  background: white;
  position: relative;
  left: 12.75px;
  display: flex;
  align-items: flex-end;
}
