.scroll-date {
  overflow: auto;
  white-space: nowrap;
  font-size: 30px;
  padding:14px;
}

.not-selected {
  padding: 14px;
}

.date-container {
  font-family: "Montserrat";
  display: flex;
  // justify-content: space-between;
  // margin: auto;
  width: 80%
}

.scroll-date::-webkit-scrollbar{
	display:none;
}

.selected-date {
  font-size: 42px;
  font-weight: 800;
}
