.logo{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

}

.profile-info {
  display: flex;
  padding: 5px;
  align-items: center;
}

.user-name {
  padding-left: 10px;
}

.logo-link{
  text-decoration: none;
  color: black;
  // background: url("https://raw.githubusercontent.com/saadxislam/ukiyo/8268406e96bcef9c8a81db510d0b082260ce9209/react-front-end/public/images/logo.svg") no-repeat;
}
