.logo{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.profile-info {
  display: flex;
  padding: 5px;
  align-items: center;
}

.user-name {
  padding-left: 10px;
  padding-right: 15px;
  font-family: "Monsterrat";
  font-size: 20px;
}

.logo-link{
  text-decoration: none;
  color: black;
}

.ukiyo-logo{
  left: 15px;
  width: 105px;
  position: relative;
  top: 10px;
}