.background-image {
  background: url("https://github.com/saadxislam/ukiyo/blob/master/react-front-end/public/images/Background1-Ukiyo.png?raw=true") no-repeat;
  height: 101vh;
  background-size: cover;
  background-position: bottom;
}

.background-image2 {
  background: url("https://github.com/saadxislam/ukiyo/blob/master/react-front-end/public/images/Background2-Ukiyo-01.png?raw=true") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}
