.answer-textarea{
  border-radius: 20px;
  width: 72%;
  height: 19vh;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #FFDEA6;
}

.journal-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question{
  display:flex;
  justify-content: flex-start;
  margin-left: 56px;
}

.arrow-submit{
  margin-top: 25px;
  position: relative;
  left: 30px;
  bottom: 15px;
}

.skip-btn{
  margin-left: 30px;
  position: relative;
  left: 104px;
  bottom: 28px;
  text-decoration: none;
}

.question-title{
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}

.skip-link{
  text-decoration: none;
  color: black;
}

