.quote-container {
  font-family: "Monsterrat";
  position: relative;
  left: 25px;
  top: 80px;
}

.quote-content {
  width: 60%;
  position: relative;
  left: 120px;
  bottom: 30px;
  text-align: left;
}

.text-heart {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  h5 {
    margin-right: 10px;
  }
}

.heart-icon {
  padding-left: 50px;
}