p.quote-text {
  display: flex;
  justify-content: center;
  padding-left: 120px;
  width: 60%;
}

.text-heart {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}