#full-width-tabpanel-0 > div > p > div > table > thead:nth-child(3) > tr > th.MuiTableCell-root.MuiTableCell-head.icons-style.MuiTableCell-alignCenter{
  display: flex;
  position: relative;
  left: 10px;
  justify-content: space-between;
}